
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
build/BlackSabbath.ino.bin
build/BlackSabbath.ino.elf
build/BlackSabbath.ino.hex
build/BlackSabbath.ino.map
build/build.options.json
build/core/abi.cpp.d
build/core/abi.cpp.o
build/core/api/Common.cpp.d
build/core/api/Common.cpp.o
build/core/api/IPAddress.cpp.d
build/core/api/IPAddress.cpp.o
build/core/api/PluggableUSB.cpp.d
build/core/api/PluggableUSB.cpp.o
build/core/api/Print.cpp.d
build/core/api/Print.cpp.o
build/core/api/Stream.cpp.d
build/core/api/Stream.cpp.o
build/core/api/String.cpp.d
build/core/api/String.cpp.o
build/core/core.a
build/core/Interrupts.cpp.d
build/core/Interrupts.cpp.o
build/core/itoa.c.d
build/core/itoa.c.o
build/core/main.cpp.d
build/core/main.cpp.o
build/core/mbed/platform/cxxsupport/mstd_mutex.cpp.d
build/core/mbed/platform/cxxsupport/mstd_mutex.cpp.o
build/core/pinToIndex.cpp.d
build/core/pinToIndex.cpp.o
build/core/Serial.cpp.d
build/core/Serial.cpp.o
build/core/Tone.cpp.d
build/core/Tone.cpp.o
build/core/USB/PluggableUSBDevice.cpp.d
build/core/USB/PluggableUSBDevice.cpp.o
build/core/USB/USBCDC.cpp.d
build/core/USB/USBCDC.cpp.o
build/core/USB/USBSerial.cpp.d
build/core/USB/USBSerial.cpp.o
build/core/variant.cpp.d
build/core/variant.cpp.o
build/core/wiring.cpp.d
build/core/wiring.cpp.o
build/core/wiring_analog.cpp.d
build/core/wiring_analog.cpp.o
build/core/wiring_digital.cpp.d
build/core/wiring_digital.cpp.o
build/core/wiring_pulse.cpp.d
build/core/wiring_pulse.cpp.o
build/core/wiring_shift.cpp.d
build/core/wiring_shift.cpp.o
build/core/WMath.cpp.d
build/core/WMath.cpp.o
build/includes.cache
build/libraries/Adafruit_BME280_Library/Adafruit_BME280.cpp.d
build/libraries/Adafruit_BME280_Library/Adafruit_BME280.cpp.o
build/libraries/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.d
build/libraries/Adafruit_BusIO/Adafruit_BusIO_Register.cpp.o
build/libraries/Adafruit_BusIO/Adafruit_I2CDevice.cpp.d
build/libraries/Adafruit_BusIO/Adafruit_I2CDevice.cpp.o
build/libraries/Adafruit_BusIO/Adafruit_SPIDevice.cpp.d
build/libraries/Adafruit_BusIO/Adafruit_SPIDevice.cpp.o
build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.d
build/libraries/Adafruit_GFX_Library/Adafruit_GFX.cpp.o
build/libraries/Adafruit_GFX_Library/Adafruit_GrayOLED.cpp.d
build/libraries/Adafruit_GFX_Library/Adafruit_GrayOLED.cpp.o
build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.d
build/libraries/Adafruit_GFX_Library/Adafruit_SPITFT.cpp.o
build/libraries/Adafruit_GFX_Library/glcdfont.c.d
build/libraries/Adafruit_GFX_Library/glcdfont.c.o
build/libraries/Adafruit_SSD1306/Adafruit_SSD1306.cpp.d
build/libraries/Adafruit_SSD1306/Adafruit_SSD1306.cpp.o
build/libraries/Adafruit_Unified_Sensor/Adafruit_Sensor.cpp.d
build/libraries/Adafruit_Unified_Sensor/Adafruit_Sensor.cpp.o
build/libraries/Arduino_APDS9960/Arduino_APDS9960.cpp.d
build/libraries/Arduino_APDS9960/Arduino_APDS9960.cpp.o
build/libraries/Arduino_HTS221/HTS.cpp.d
build/libraries/Arduino_HTS221/HTS.cpp.o
build/libraries/Arduino_LPS22HB/BARO.cpp.d
build/libraries/Arduino_LPS22HB/BARO.cpp.o
build/libraries/Arduino_LSM9DS1/LSM9DS1.cpp.d
build/libraries/Arduino_LSM9DS1/LSM9DS1.cpp.o
build/libraries/EasyButton/EasyButton.cpp.d
build/libraries/EasyButton/EasyButton.cpp.o
build/libraries/EasyButton/EasyButtonBase.cpp.d
build/libraries/EasyButton/EasyButtonBase.cpp.o
build/libraries/EasyButton/EasyButtonTouch.cpp.d
build/libraries/EasyButton/EasyButtonTouch.cpp.o
build/libraries/EasyButton/EasyButtonVirtual.cpp.d
build/libraries/EasyButton/EasyButtonVirtual.cpp.o
build/libraries/EasyButton/Sequence.cpp.d
build/libraries/EasyButton/Sequence.cpp.o
build/libraries/Ethernet/Dhcp.cpp.d
build/libraries/Ethernet/Dhcp.cpp.o
build/libraries/Ethernet/Dns.cpp.d
build/libraries/Ethernet/Dns.cpp.o
build/libraries/Ethernet/Ethernet.cpp.d
build/libraries/Ethernet/Ethernet.cpp.o
build/libraries/Ethernet/EthernetClient.cpp.d
build/libraries/Ethernet/EthernetClient.cpp.o
build/libraries/Ethernet/EthernetServer.cpp.d
build/libraries/Ethernet/EthernetServer.cpp.o
build/libraries/Ethernet/EthernetUdp.cpp.d
build/libraries/Ethernet/EthernetUdp.cpp.o
build/libraries/Ethernet/socket.cpp.d
build/libraries/Ethernet/socket.cpp.o
build/libraries/Ethernet/utility/w5100.cpp.d
build/libraries/Ethernet/utility/w5100.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEAccelerometer.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEAccelerometer.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEColour.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEColour.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEGesture.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEGesture.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEGyroscope.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEGyroscope.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEMagnetic.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEMagnetic.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEMicrophoneRMS.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEMicrophoneRMS.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEPressure.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEPressure.cpp.o
build/libraries/Nano33BLESensor/Nano33BLEProximity.cpp.d
build/libraries/Nano33BLESensor/Nano33BLEProximity.cpp.o
build/libraries/Nano33BLESensor/Nano33BLETempterature.cpp.d
build/libraries/Nano33BLESensor/Nano33BLETempterature.cpp.o
build/libraries/PDM/nrf52/PDM.cpp.d
build/libraries/PDM/nrf52/PDM.cpp.o
build/libraries/PDM/stm32/audio.c.d
build/libraries/PDM/stm32/audio.c.o
build/libraries/PDM/stm32/irq.c.d
build/libraries/PDM/stm32/irq.c.o
build/libraries/PDM/stm32/PDM.cpp.d
build/libraries/PDM/stm32/PDM.cpp.o
build/libraries/PDM/stm32/wm8994.c.d
build/libraries/PDM/stm32/wm8994.c.o
build/libraries/PDM/utility/PDMDoubleBuffer.cpp.d
build/libraries/PDM/utility/PDMDoubleBuffer.cpp.o
build/libraries/QEI/QEI.cpp.d
build/libraries/QEI/QEI.cpp.o
build/libraries/SparkFun_External_EEPROM_Arduino_Library/SparkFun_External_EEPROM.cpp.d
build/libraries/SparkFun_External_EEPROM_Arduino_Library/SparkFun_External_EEPROM.cpp.o
build/libraries/SPI/SPI.cpp.d
build/libraries/SPI/SPI.cpp.o
build/libraries/Wire/Wire.cpp.d
build/libraries/Wire/Wire.cpp.o
build/preproc/ctags_target_for_gcc_minus_e.cpp
build/sketch/BlackSabbath.ino.cpp
build/sketch/BlackSabbath.ino.cpp.d
build/sketch/BlackSabbath.ino.cpp.o
build/sketch/boot_Fcns.h
build/sketch/class_File.h
build/sketch/coms_File.h
build/sketch/constants_File.h
build/sketch/debug_Macro.h
build/sketch/general_Header.h
build/sketch/glob_Var.h
build/sketch/proto_Fcns.h
build/sketch/screen_Fcns.h
build/sketch/secFcn_File.h
build/sketch/setup_Encoder.h
build/sketch/task_Fcns.h
build/sketch/webServer_Fcns.h
build/BlackSabbath.ino.with_bootloader.bin
build/BlackSabbath.ino.with_bootloader.hex
build/sketch/README.md
build/sketch/src/class_File.h
build/sketch/src/coms_File.h
build/sketch/src/constants_File.h
build/sketch/src/debug_Macro.h
build/sketch/src/general_Header.h
build/sketch/src/glob_Var.h
build/sketch/src/proto_Fcns.h
build/sketch/src/screen_Fcns.h
build/sketch/src/secFcn_File.h
build/sketch/src/setup_Encoder.h
build/sketch/src/task_Fcns.h
build/sketch/src/webServer_Fcns.h
build/BlackSabbath.ino.with_bootloader.bin
build/BlackSabbath.ino.with_bootloader.hex
build/sketch/README.md
build/sketch/src/class_File.h
build/sketch/src/coms_File.h
build/sketch/src/constants_File.h
build/sketch/src/debug_Macro.h
build/sketch/src/general_Header.h
build/sketch/src/glob_Var.h
build/sketch/src/proto_Fcns.h
build/sketch/src/screen_Fcns.h
build/sketch/src/secFcn_File.h
build/sketch/src/setup_Encoder.h
build/sketch/src/task_Fcns.h
build/sketch/src/webServer_Fcns.h
